<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>me.whisp</string>
    <key>ProgramArguments</key>
    <array>
        <string>/Users/user/bin/whisp</string>
        <string>--config</string>
        <string>/Users/user/bin/whisp.json</string>
    </array>
    <key>RunAtLoad</key>
    <true/>
    <key>KeepAlive</key>
    <true/>
    <key>StandardOutPath</key>
    <string>/Users/user/Library/Logs/whisp.log</string>
    <key>StandardErrorPath</key>
    <string>/Users/user/Library/Logs/whisp.log</string>
</dict>
</plist>
